body {
    margin: 0;
    padding: 0:inherit;

    font-family: "PT Sans", "Arial", sans-serif;
    width: 1200px;
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    color: #333333;
    text-transform: uppercase;
    background-color: #f2f2f2;
}

a {
    text-decoration: none;
}

.visually-hidden {
    visibility: hidden;
}

ul {
    list-style: none;
}

.main-nav-list {
    color: #000000;
    background-color: #ffffff;
    list-style: none;
}

.main-nav-list a {
    color: #000000;
}

.second-header {
    text-align: center;

}

.second-header h1 {
    font-size: 21px;
    color: #000000;
}

.facts {
    text-align: center;
    line-height: 21px;
    color: #ffffff;
    background-color: #81b3d2;
}

.facts b {
    font-size: 21px;
    color: #ffffff;
}

.description {
    text-align: center;
    line-height: 21px;
    background-color: #ffffff;
}

.description b {
    font-size: 21px;
    color: #000000;
}

.search-hotels {
    text-align: center;
    background-color: #ffffff;
}

.search-hotels b {
    font-size: 30px;
    line-height: 36px;
    color: #000000;
}

.search-hotels p {
    font-size: 14px;
    line-height: 24px;
}

.search-hotels a {
    font-size: 26px;
    color: #ffffff;
    background-color: #766357;
}

.search-hotels a:hover {
    background-color: #604e43;
}

.search-hotels a:focus {
    background-color: #503e33;
    color: #928a85;
}

.search-form {
    color: #000000;
}

.textfield-input {
    font-weight: bold;
    text-transform: uppercase;
}

.btn {
    font: inherit;
    text-align: center;
    vertical-align: middle;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #81b3d2;
    border: none;
}

.btn:hover {
    background-color: #669ec0;
}

.btn:focus {
    background-color: #5496bd;
    color: #94b9d2;
}

.hotel-btn {
    background-color: #766357;
}

.hotel-btn:hover {
    background-color: #604e43;
}

.hotel-btn:focus {
    background-color: #503e33;
    color: #928a85;
}

.main-footer {
    background-color: #ffffff;
}

.main-footer a {
    font-size: 21px;
    color: #000000;
}

.main-footer li a {
    color: #ffffff;
}

.copyright a {
    font-size: 21px;
    color: #000000;
}

.copyright a:hover {
    color: #81b3d2;
}

.copyright a:focus {
    font-size: 21px;
    color: #bdbbbc;
}

.search-result {
    background-color: #ffffff;
}

.sort b {
    font-size: 21px;
    color: #000000;
}

.sort a {
    color: #82b3d3;
}

.hotel-name {
    font-size: 21px;
    color: #000000;
}

.filter {
    background-color: #aaa7a7;
    color: #ffffff;
}

.form-submit {
    font: inherit;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    border: 1px solid white;
    border-radius: 1px;
}

.form-submit:hover {
    background-color: #ffffff;
}
