* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    color: #333333;
    text-transform: uppercase;
    background-color: #f2f2f2;
}

a {
    text-decoration: none;
}

.visually-hidden {
    visibility: hidden;
}

ul {
    list-style: none;
}

.main-nav-list {
    color: #000000;
    background-color: #ffffff;
    list-style: none;
}

.main-nav-list a {
    color: #000000;
}

.main-slogan {
    text-align: center;
    /*height: 725px;*/
}

.main-slogan h1 {
    font-size: 21px;
    color: #000000;
}

.main-slogan p {
    line-height: 21px;
}

.facts {
    text-align: center;
    line-height: 21px;
    color: #ffffff;
    background-color: #81b3d2;
}

.facts b {
    font-size: 21px;
    color: #ffffff;
}

.description {
    text-align: center;
    line-height: 21px;
    background-color: #ffffff;
}

.description b {
    font-size: 21px;
    color: #000000;
}

.search-hotels {
    text-align: center;
    background-color: #ffffff;
}

.search-hotels b {
    font-size: 30px;
    line-height: 36px;
    color: #000000;
}

.search-hotels p {
    font-size: 14px;
    line-height: 24px;
}

.search-hotels a {
    font-size: 26px;
    color: #ffffff;
    background-color: #766357;
}

.search-hotels a:hover {
    background-color: #604e43;
}

.search-hotels a:focus {
    background-color: #503e33;
    color: #928a85;
}

.search-form input[type="text"] {
    font: inherit;
    color: #000000;
    background-color: #f2f2f2;
}

.search-form input:hover {
    background-color: #ebebeb;
}

.search-form input:focus {
    background-color: #ffffff;
}

.textfield-input {
    font-weight: bold;
    text-transform: uppercase;
}

.amount-btn {
    color: #a9a9a9;
}

.amount-btn:hover {
    color: #000000;
}

.amount-btn:focus {
    color: #81b3d2;
}

.btn {
    font: inherit;
    text-align: center;
    vertical-align: middle;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #81b3d2;
    border: none;
}

.btn:hover {
    background-color: #669ec0;
}

.btn:focus {
    background-color: #5496bd;
    color: #94b9d2;
}

.hotel-btn {
    background-color: #766357;
}

.hotel-btn:hover {
    background-color: #604e43;
}

.hotel-btn:focus {
    background-color: #503e33;
    color: #928a85;
}

.main-footer {
    background-color: #ffffff;
}

.main-footer a {
    font-size: 21px;
    color: #000000;
}

.main-footer li a {
    color: #ffffff;
}

.copyright a {
    font-size: 21px;
    color: #000000;
}

.copyright a:hover {
    color: #81b3d2;
}

.copyright a:focus {
    font-size: 21px;
    color: #bdbbbc;
}


/* Next code for Page search hotels */

.filter-title {
    font-size: 16px;
    line-height: 21px;
}

.checkbox-label {
    line-height: 21px;
}

.filter-form input[type="text"] {
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
    background-color: transparent;

}

.filter-price-value {
    line-height: 21px;
}

.form-submit {
    font: inherit;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    border: 1px solid white;
    border-radius: 1px;
    background-color: transparent;
}

.form-submit:hover {
    background-color: #ffffff;
}

.search-result {
    background-color: #ffffff;
}

.sort b {
    font-size: 21px;
    color: #000000;
}

.sort p {
    font-size: 12px;
    line-height: 18px;
    color: #000000;
}

.sort a {
    font-size: 12px;
    line-height: 18px;
    color: #cacaca;
}

a.sort-type:hover {
    color: #81b3d2;
}

a.sort-type:focus {
    color: #000000;
}

a.arrow:hover {
    color: #000000;
}

a.arrow:focus {
    color: #81b3d2;
}

.hotel-name {
    color: #000000;
}

.hotel-name:hover {
    color: #81b3d4;
}

.hotel-name:focus {
    color: #cacaca;
}

.hotel-rating {
    line-height: 21px;
    color: #cacaca;
    background-color: #f2f2f2;
}

.filter {
    background-color: #aaa7a7;
    color: #ffffff;
}

/* Разметка для сетки */

.page-wrapper {
    width: 1200px;
    margin: 0 auto;
    background-color: #ffffff;
}

.main-nav-list {
    display: flex;
    align-items: center;
}

.main-nav-link {
    width: 240px;
    height: 55px;
    text-align: center;
    line-height: 4em;
}

.logo {
    position: relative;
    z-index: 100;
}

.main-slogan {
    margin-bottom: 55px;
}

.slogan-bg {
    position: relative;
    margin-bottom: 55px;
}

.main-pic {
    height: 510px;
}

.slogan {
    position: absolute;
    top: 75px;
    left: 31%;
}

.facts {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.facts-text {
    width: 400px;
    height: 150px;
}

.description {
    border: 1px solid red;
    display: flex;
    justify-content: space-around;
}

.desc-value {
    border: 1px solid red;
    width: 305px;
}

.description:nth-of-type(4) {
    background-color: #f2f2f2;
}

.search-hotels {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    height: 765px;
}

.search-form-wrapper {
    margin-top: 55px;
    position: relative;
    z-index: 90;
}

.map {
    position: absolute;
    top: 190px;
}
